<section class="card" (click)="openContactDetails()">

  <div class="client">
  <app-avatar [userName]="ticketDetails.fullnameAuthor" [isArchive]="isArchive" class="context-ticket-card-fullnameAuthor"></app-avatar>
    <p><span class="prefix">Client:</span> {{ ticketDetails.fullnameAuthor }}</p>
  </div>

    <p class="number"><span class="prefix">Numéro de ticket:</span> {{ ticketDetails.number }}</p>
    <p class="title"><span class="prefix">Titre:</span> {{ ticketDetails.name }}</p>
    <p class="category"><span class="prefix">Catégorie:</span> {{ ticketDetails.category }}</p>
    <p class="statut" [ngClass]="colorStatus"><span class="prefix">Statut:</span> {{ ticketDetails.status }}</p>
    <p class="priority" [ngClass]="colorPriority"><span class="prefix">Priorité:</span> {{ ticketDetails.priority }}</p>
    <p class="date"><span class="prefix">Date de création:</span> {{ ticketDetails.creationDate | date:'dd/MM/yyyy' }}</p>

</section>