@import 'src/assets/scss/template.scss';

.card{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
  padding: 8px 1% 8px 1%;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px;
  flex-wrap: wrap;

  @include laptop {
    display: flex;
    flex-wrap: wrap;
  }

  @include mobiletablet {
    display: flex;
    flex-wrap: wrap;
  }

  cursor:pointer;
  p {
    line-height: 1.75;
    text-align: end;
  }
 
}

.date,
.priority,
.statut,
.number,
.title,
.category {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: auto;
  @include laptop {
    margin: 0;
  }
  @include mobiletablet {
    margin: 0;
  }
}


.client {
  display: flex;
  align-items: center;
  white-space: nowrap;
  p {
    font-size: 17px;
  }
  app-avatar {
    margin-right: 8px;
  }
}

.prefix {
  font-style: italic;
  color: #757575;
  font-size: 15px;
  margin-right: 6px;
}

.context-ticket-card-creator {
  margin: auto 10px auto 0;
}

.green {
  color: green;
}

.yellow {
  color: $secondaryColor;
}

.red {
  color: red;
}

// host-context pour garder un style générique et faciliter la réutilisation du composant
:host-context(.context-ticket-list) .card {
  margin-top: 16px;
  background-color: transparent;
}

.context-ticket-card-creator {
  margin-right: 2%;
}