<!-- PARTIE DEV ET MANAGER -->
<section class="tickets-list-c" [@fadeInOut]>
  <app-search-bar *ngIf="role !== 'CLIENT'"></app-search-bar>


  <div class="tickets-list" *ngIf="role !== 'CLIENT'">
    <header>
      <mat-form-field class="select">
        <mat-label>Trier par</mat-label>
        <mat-select class="select" (selectionChange)="onSortChange($event)">
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
            <span *ngIf="state.includes('asc') || state.includes('A-Z')" class="icone-select bi bi-sort-down"></span>
            <span *ngIf="state.includes('desc') || state.includes('Z-A')" class="icone-select bi bi-sort-up"> </span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle class="toggle" (click)="ViewArchivedTickets()">
        <p>Tickets archivés</p>
      </mat-slide-toggle>

      <div class="checkbox-c">

        <div class="category">Catégorie:
          <mat-checkbox class="checkbox" 
            (change)="onCheckboxChange()">facturation<span
              class="badge">{{this.billingCount}}</span></mat-checkbox>
          <mat-checkbox class="checkbox"
            (change)="onCheckboxChange()">fonctionnalité<span
              class="badge">{{this.featureCount}}</span></mat-checkbox>
          <mat-checkbox class="checkbox"
            (change)="onCheckboxChange()">technique<span
              class="badge">{{this.technicalCount}}</span></mat-checkbox>
        </div>

        <div class="statut">Statut:
          <mat-checkbox class="checkbox"
            (change)="onCheckboxChange()">à faire<span
              class="badge">{{this.toDoCount}}</span></mat-checkbox>
          <mat-checkbox class="checkbox" 
            (change)="onCheckboxChange()">en cours <span class="badge">
              {{this.doingCount}}</span></mat-checkbox>
          <mat-checkbox class="checkbox"
            (change)="onCheckboxChange()">terminé<span
              class="badge">{{this.doneCount}}</span></mat-checkbox>
        </div>

        <div class="priority">Priorité:
          <mat-checkbox class="checkbox"
            (change)="onCheckboxChange()">faible<span
              class="badge">{{this.lowCount}}</span></mat-checkbox>
          <mat-checkbox class="checkbox" 
            (change)="onCheckboxChange()">moyenne<span
              class="badge">{{this.mediumCount}}</span></mat-checkbox>
          <mat-checkbox class="checkbox"
            (change)="onCheckboxChange()">haute<span
              class="badge">{{this.highCount}}</span></mat-checkbox>
        </div>

      </div>

    </header>

    <div *ngFor="let ticket of tickets; let i = index" [ngClass]="{'even': isEven(i), 'odd': !isEven(i)}">
      <app-ticket-card class="context-ticket-list" [ticket]="ticket"></app-ticket-card>
    </div>

  </div>

</section>