@import 'src/assets/scss/template.scss';

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-left: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  .title-name {
    margin-left: 4px;
    font-weight: 300;
    font-size: 34px;
  }
 
}
.details-profil {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
  .name,.firstname {
    margin-left: 4px;
    font-size: 20px;
    font-weight: 500;
    color: black;
   }
  
}

header {
  span {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    font-size: 18px;
  }
.suffix {
  font-size: 17px;
  font-weight: 100;
  margin-right: 8px;
  line-height: 1.5;
  font-style: italic;
  font-weight: 100!important;
  opacity: 0.7;
}

}
.date span {
  font-weight: 400;
  color: black;
}
.category-span {
  color: $primaryColor;
  font-weight: 400;
}

.description {
  padding-top: 4px;
  max-height: 60vh;
  overflow: auto;
  p {
    font-size: 16px;
    font-weight: 400;
  }
}
.todo {
  font-weight: 400;
  color: red;
}
.doing {
  font-weight: 400;
  color: #F5B445}
.done {
  font-weight: 400;
  color: green;
}
.low {
  font-weight: 400;
  color: green;
}
.medium {
  font-weight: 400;
  color: #F5B445;
}
.high {
  font-weight: 400;
  color: red;
}
header {
  position: relative;
}
.date {
  position: relative;
  margin-bottom: 20px;
}

.date::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 4%; /* Ajustez cette valeur pour définir la position horizontale */
  width: 92%; /* Réglez la largeur à 80% */
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5); 
}
.actions {
  h1 {
    margin-bottom: 40px;
  }
}
.actions-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  align-items: center;

}
.btn {
  display: flex;
  align-items: center;
  gap: 6px;
}


