<app-sidebar-menu [menuItems]="menuItems" [menuTitle]="menuTitle" [menuIcon]="menuIcon"
  (page)="onPageChange($event)"></app-sidebar-menu>

<header class="widget details">
  <h1 class="weight-500">Ticket {{ticketDetails.number}}: <span class="weight-400"> {{ticketDetails.name}} </span>
  </h1>
  <div class="details-profil">
    <h2 class="autor">Auteur:</h2>
    <app-avatar [userName]="ticketDetails.fullnameAuthor" class="context-ticket-card-creator"></app-avatar>
    <p class="name"> {{ticketDetails.authorLastname}}<span class="firstname">{{ticketDetails.authorFirstname}}</span>
    </p>
  </div>
  <p class="category">Catégorie: <span>{{ticketDetails.category}}</span></p>
  <p class="statut">Statut: <span [ngClass]="statutSpan">{{ticketDetails.status}}</span></p>
  <p class="priority">Priorité: <span [ngClass]="prioritySpan"> {{ticketDetails.priority}} </span></p>
  <p class="date">Date de création: <span>{{ ticketDetails.creationDate | date: 'dd MMMM yyyy' }}</span></p>
  <p *ngIf="ticketDetails.updateDate">Date de modification: {{ticketDetails.updateDate | date:'dd/MM/yyyy' }}</p>
  <ng-container *ngIf="page ==='Info'">
    <article class="description" [@opacity]="page==='Info'?'active':''">
      <h3 class="description">Description:</h3>
      <p>{{ ticketDetails.description}}</p>
    </article>
  </ng-container>

  <section class="card-bottom">
    <ng-container *ngIf="ticketDetails.developers.length >=1">
      <h4 class="developers">Développeurs:</h4>
      <ul>
        <li *ngFor="let developer of ticketDetails.developers">{{ developer }}</li>
      </ul>
    </ng-container>
  </section>
</header>


<container-element [ngSwitch]="page">
  <ng-container *ngSwitchCase="'Chat'">
    <section class="widget" [@opacity]="page==='Chat'?'active':''" >
      <app-ticket-chat></app-ticket-chat>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="'Actions'">
    <section class="widget actions" [@opacity]="page==='Actions'?'active':''">
      <h1 class="weight-500">Actions sur le ticket</h1>
      <div class="actions-btn">
        <button mat-raised-button color="primary" class="btn bi bi-check-lg">Cloturer</button>
        <button mat-raised-button color="accent" class="btn bi bi-file-earmark-zip-fill">Archiver</button>
        <button mat-raised-button color="warn"class="btn bi bi-trash-fill">Supprimer</button>
      </div>
    </section>
  </ng-container>
</container-element>

