<section class="details">
  <header>
    <h1 class="weight-500">Ticket {{ticketDetails.number}}: <span class="weight-400"> {{ticketDetails.name}} </span></h1>
    <div class="details-profil">
      <h2 class="autor">Auteur:</h2>
      <app-avatar [userName]="ticketDetails.creator" class="context-ticket-card-creator"></app-avatar>
      <p class="name"> {{ticketDetails.userLastName}}<span class="firstname">{{ticketDetails.userFirstName}}</span></p>
    </div>
    <p class="statut">Statut: <span [ngClass]="statutSpan">{{ticketDetails.status}}</span></p>
    <p class="priority">Priorité: <span [ngClass]="prioritySpan"> {{ticketDetails.priority}} </span></p>
    <p class="date">Date de création: <span>{{ ticketDetails.creationDate | date: 'dd MMMM yyyy' }}</span></p>
  </header>

  <article class="description"></article>
  <h3 class="description">Description:</h3>
  {{ ticketDetails.description}}
</section>