@import 'src/assets/scss/template.scss';
#body {
  display: flex;
  height: 100vh;
  background: $primaryColor;
  z-index: 2;
  overflow: hidden;
}

#main {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: linear-gradient(105deg, $widgetColor 0%, $widgetColor 100%);
  z-index:1;
  @media screen and (max-width: 700px), screen and (max-height: 700px) {
   border-radius: 0;
  }
}

.main-radius {
border-radius: 50px 0 0 50px;
}


