@import 'src/assets/scss/template.scss';

.alert-custom {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  z-index: 999;
  margin-left: auto;
  margin-right:1px;
  margin-top: 1px;
  border-radius: 10px;
  padding: 2%;
  font-size: 1.5rem;
  @include tablet {width: 40%;}
  @include mobile {width: 60%;}
}
.icon-container { 
  font-size: 1.5rem;
  margin-right: 6px;
}
.alert-success {
  background-color: rgb(14, 133, 14, 0.3);
  color: green;
  font-weight: 400;
}

.alert-danger {
  background-color: rgba(250, 1, 0, 0.3);
  color: $redColor;
}