<mat-sidenav-container class="sidenav-c" [ngClass]="!opened ? 'hide': ''" (backdropClick)="toggle()">
  <mat-sidenav #sidenav [(opened)]="opened" position="end" disableClose class="sidenav">
    <span class="bi bi-x-circle" (click)="toggle()"></span>

    <!-- page ticket details dans sidebar -->
    <ng-container *ngIf="currentPage$ === 'ticket-details'">
      <app-ticket-details [ticket]="this.ticket"></app-ticket-details>
    </ng-container>

    <!-- page activity dans sidebar -->
    <ng-container *ngIf="currentPage$ === 'activity'">
      <app-activity></app-activity>
    </ng-container>

    <ng-container *ngIf="currentPage$ === 'ticket-add'">
      <app-ticket-add></app-ticket-add>
    </ng-container>

  </mat-sidenav>


  <mat-sidenav-content>
    <!-- contenu à gauche de la sidebar -->
  </mat-sidenav-content>
</mat-sidenav-container>