@import 'src/assets/scss/template.scss';

.menu {
  width: 56px;
  position: absolute;
  height: 100%;
  left:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
  background-color: $secondaryColor;
  overflow: hidden;
  z-index: 99999;
  margin-top: -20px;
  @include mobile {
    width: 40px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    overflow: hidden;
  }

  li {
    position: relative;
    cursor: pointer;
    z-index: 2;

    i {
      cursor: pointer;
      color: white;
      font-size: 28px;
      @include mobile {
        font-size: 22px;
      }

    }
  }

  li.active {
    i {
      color: $secondaryColor;
      transition: 0.15s;
    }
  }

  .btn-close-sidebar {

    position: absolute;
    top: 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -3px -3px 3px #FFFFFF80, 3px 3px 3px rgba(0,0,0,0.23);
    color: $secondaryColor;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      left: 8px;
      width: 26px;
      height: 26px;
    }
    transition: color 0.4s;
  }
  .btn-close-sidebar:hover {
    transition: color 0.4s;
    color: $primaryColor;
  }
  .bi-x {
    font-size: 40px;
    font-weight: 900;
    @include mobile {
      font-size: 30px;
    }
  }

  .background {
    width: 94%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: -23px;
    left: 8%;
    z-index: 1;
    transition: transform 0.3s ease;
    background-image: url('/assets/images/nav-white.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    @include mobile {
      top: -15px;
    }
  }

  .menu-title-c {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: $thirdColor;
    z-index: 20;
    padding-bottom: 2vh;
    @include mobile {
      padding-bottom: 7vh;
    }
    position: relative;
    padding-top: 1vh;
    user-select: none;
    width: 100%;
  }
  #gradient {
    width: 80px; /* Ajuster la largeur pour que la diagonale remplisse le conteneur */
    height: 45px; /* Ajuster la hauteur pour que la diagonale dépasse du conteneur */
    background: linear-gradient(to bottom left, transparent 49.5%, $thirdColor 50%); /* Définir le dégradé avec une diagonale */
    position: absolute;
    top: -45px;
    right: 0;
    z-index: 21;
    line-height: 0;
  }
  .shadow {
    position: absolute;
    top: -20px;
    transform: rotate(29deg);
    filter: blur(2px);
    width: 80px;
    height: 4px; /* Hauteur de l'ombre */
    background-color: rgba(0, 0, 0, 0.2); /* Couleur de l'ombre avec transparence */
    z-index: 19 ; /* Placer l'ombre sous #gradient */
  }
  .menu-title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-style: italic;
    letter-spacing: 3px;
    font-weight:100;
    font-size: 28px;
    bottom: 100px;
    z-index: 20;
    font-size: 28px;
    letter-spacing: 3.36px;
    color: white;
  }
  
  .icone {
    color: white;
    font-size: 32px;
  }
}