@import "src/assets/scss/template.scss";

.dashboard{
  padding: 4vh 2% 0% 2%;
  color: white;
  overflow: auto;
  height: 87%;
  @include mobiletablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
h1,h2,h3 {
  color: white;
}

.widget {
  overflow: hidden;
  min-height: 200px;
  background-color: $menuBackground;
  border: 2px solid white;
}
.tickets-c {
  height: 100%;
  overflow: auto;
  padding: 10px;

}
canvas {
  // width: 60%;
  margin: auto;
  width: 60%;
  @include qhd {
    width: 55%;
  }
  padding: 0!important;
  transform: translateY(-60px);
  h3 {
    position: absolute;
    top:0;
    line-height: 0;
  }
}
.chart {
  width: 100%;
 
}

.chart-c {
  width: 100%;
  position: relative;

  // padding-right: 10%;
  h1,h2,h3 {
    z-index: 3;
    font-size: 18px;
    font-weight: 400;
    color: $secondaryColor!important;
  }
}

  .ticket-number,
  .ticket-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .grid-1 {
    min-height: 50vh
  }

  span {
    font-size: 22px;
    font-weight: 500;
    color: $secondaryColor;
    margin-left: 8px;
  }

  .over-0 {
    color: orangered;
    font-weight: 500;
  }


.chart-wrapper {
  height: fit-content;
  width: fit-content;

  h3 {
    font-size: 22px;
    font-weight: 500;
    color: white;
  }
}

