<section class="card" (click)="openSidebar()">
  <div class="client">
  <app-avatar [userName]="ticketDetails.creator" class="context-ticket-card-creator"></app-avatar>
    <p><span class="prefix">Client:</span> {{ ticketDetails.creator }}</p>
  </div>
  
    <p><span class="prefix">Date de création:</span> {{ ticketDetails.creationDate | date:'dd/MM/yyyy' }}</p>
    <p><span class="prefix">Numéro de ticket:</span> {{ ticketDetails.number }}</p>
    <p><span class="prefix">Titre:</span> {{ ticketDetails.name }}</p>

    <p [ngClass]="colorStatus"><span class="prefix">Statut:</span> {{ ticketDetails.status }}</p>
    <p [ngClass]="colorPriority"><span class="prefix">Priorité:</span> {{ ticketDetails.priority }}</p>

</section>