.logo {
 width: 400px;
  height: 400px;
  z-index: 100;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  overflow: hidden;

}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Couleur d'arrière-plan de secours */
  z-index: -1;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
