<section class="card" (click)="openTicketDetails()">

  <div class="client">
  <app-avatar [userName]="ticketDetails.fullnameAuthor" [isArchive]="isArchive" class="context-ticket-card-fullnameAuthor"></app-avatar>
    <p>{{ ticketDetails.fullnameAuthor }}</p>
  </div>

    <p class="number">{{ ticketDetails.number }}</p>
    <p class="title">{{ ticketDetails.name }}</p>
    <p class="category">{{ ticketDetails.category }}</p>
    <p class="statut" [ngClass]="colorStatus">{{ ticketDetails.status }}</p>
    <p class="priority" [ngClass]="colorPriority">{{ ticketDetails.priority }}</p>
    <p class="date">{{ ticketDetails.creationDate | date:'dd/MM/yyyy' }}</p>

</section>