<div class="card md:grid md:grid-cols-12" (click)="openTicketDetails()" *ngIf="ticket">

  <div class="client  md:col-span-5 lg:col-span-3 row-span-2">
    <app-avatar [user]="ticket.author" [isArchive]="isArchive" class="context-ticket-card-fullnameAuthor"></app-avatar>
    @if (!!ticket.author) {
      <p>{{ fullnameAuthor }}<span class="separator"></span></p>
  
    } @else {
      <p>Utilisateur inconnu<span class="separator"></span></p>
    }
  </div>

  <div class="rest md:col-span-7 lg:col-span-9">
  <p class="number"><span class="prefix">Numéro :</span>{{ ticket.id }}</p> 

  <p class="title"><span class="prefix">Titre :</span>{{ ticket.ticketTitle }}</p>


  <p class="category"><span class="prefix">Catégorie :</span>{{ ticket.category?.categoryTitle }}</p>

  <p class="statut" [ngClass]="colorStatus"><span class="prefix">Statut :</span>{{ ticket.status?.statusTitle }}
  </p>

  <p class="priority" [ngClass]="colorPriority"><span class="prefix">Priorité: :</span>{{ ticket.priority?.priorityTitle }}</p>

  <p class="date"><span class="prefix">Date :</span>{{ ticket.creationDate | date:'dd/MM/yyyy' }}</p>

</div>
</div>
