<div class="headband d-flex justify-content-between align-items-center px-2">
  <div class="logo">
    <a routerLink="/">
      <img src="{{ logo }}" alt="Logo" class="alayde w-75">
    </a>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <img src="{{ loupe }}" (click)="toggleSearch()" class="borderpic w-25 p-3 " />
    <img src="{{ alerte }}" (click)="toggleNotification()" class="borderpic w-25 p-3" />
    <img src="{{ menuBurger }}" (click)="toggleMenu()" class="menuburger w-25" />
    <div *ngIf="isMenuOpen" class="menu-popup p-3 d-flex flex-column">
      <div class="d-flex justify-content-end mb-2">
        <img src="{{ close }}" (click)="toggleMenu()" class="w-25 border border-3 rounded-4" />
      </div>
      <h1 class="text-center">Dernières activitées</h1>
        <!-- carte d'informations sur toutes les dernières activités-->
    </div>
  </div>
</div>
