.menu-popup {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #EBEEF7;
 }

.headband {
  border-bottom: 3px solid #004463;
}

.borderpic {
  border: 3px solid #004463;
  border-radius: 20%;
  transition: transform 0.3s ease-in-out;
}

.borderpic:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .headband {
    max-height: 150px;
  }

  .borderpic {
    max-height: 80px;
    max-width: 80px;
  }
}

@media (min-width: 991.99px) {
  .headband {
    max-height: 130px;
  }

  .alayde {
    max-height: 300px;
  }

  .borderpic {
    max-height: 80px;
    max-width: 80px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .menuburger {
    max-height: 150px;
    max-width: 150px;
  }
}
