<section class="register container row justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-center">
          <p>Inscription</p>
        </div>

          <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate class="card-body">
            <div class="form-group">
              <label for="firstName">Nom</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
              <ng-container *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)">
                <div class="text-danger" *ngIf="registerForm.get('firstName')?.errors?.['required']">Le nom est requis.</div>
                <div class="text-danger" *ngIf="registerForm.get('firstName')?.errors?.['pattern']">Le nom doit contenir uniquement des lettres.</div>
              </ng-container>
            </div>
            <div class="form-group mt-2">
              <label for="lastName">Prénom</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
              <ng-container *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
                <div class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.['required']">Le prénom est requis.</div>
                <div class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.['pattern']">Le prénom doit contenir uniquement des lettres.</div>
              </ng-container>
            </div>
            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" required>
              <ng-container *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                <div class="text-danger" *ngIf="registerForm.get('email')?.errors?.['required']">L'email est requis.</div>
                <div class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Format d'email invalide.</div>
              </ng-container>
            </div>
            <div class="form-group mt-2">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password" required>
              <ng-container *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
                <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</div>
                <div class="text-danger" *ngIf="registerForm.get('password')?.errors?.['pattern']">Le mot de passe doit contenir au moins une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial.</div>
              </ng-container>
            </div>
            <div class="form-group mt-2 mb-5">
              <label for="confirmPassword">Confirmer mot de passe</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
              <ng-container *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
                <div class="text-danger" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">La confirmation du mot de passe est requise.</div>
                <div class="text-danger" *ngIf="registerForm.hasError('passwordMismatch', ['confirmPassword'])">Les mots de passe ne correspondent pas.</div>
              </ng-container>
              
              
              
            </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center" [disabled]="!registerForm.valid">Valider</button>
          </form>
          <div class="card-footer">
            <p class="text-center">
              Vous avez déjà un compte ? <a (click)="switchToLogin()">Cliquez ici !</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
