@import 'src/assets/scss/template.scss';

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
.details-profil {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;

  .name,
  .firstname {
    margin-left: 4px;
    font-size: 20px;
    font-weight: 500;
    color: black;
  }

}