@import 'src/assets/scss/template.scss';
.header-c {
  display: flex;
  position: fixed;
  right: 10vw;
  width: 100%;
  padding-top: 10px;


  h1 {
    margin-left: 55%;
    margin-right: auto;
    font-size: 4rem;
    position: relative;
    animation: titleBarAnimation 0.4s ease-in-out forwards, opacityAnimation 0.8s ease-in-out forwards;
  }
}
h1::after {
  content: '';
  display: block;
  position: inherit;
  width: 120%;
  right: 10%;
  height: 5px;
  background: $redColor;
  margin-top: 10px;
}
.avatar {
  width: 80px;
  margin-right: 20px;
  img {
    width: 100%;
  }
}
.alert {
  font-size: 2.5rem;

}
.bi-bell-slash {
  color: $secondaryColor;
}
.bi-bell {
  color: $redColor;
  cursor: pointer;
  }
.bi-search {
  font-size: 2.5rem;
  color: $primaryColor;
  font-weight: 600;
  margin-left: 16px;
  cursor: pointer;
}



@keyframes titleBarAnimation {
  from {
    width: 0;
  }
  to {
    width: 12%;
  }
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}