@import 'src/assets/scss/template.scss';
.header-c {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;


  h1 {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 4rem;
    margin: auto;
    animation: titleBarAnimation 0.4s ease-in-out forwards, opacityAnimation 0.8s ease-in-out forwards;
  }
}
h1::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  right: 0%;
  left: 0%;
  bottom: 0px;
  height: 4px;
  background: $redColor;
  margin-top: 10px;
}
.header-icons {
  position: fixed;
  right: 10vw;

}
.avatar {
  width: 80px;
  margin-right: 20px;
  img {
    width: 100%;
  }
}
.alert {
  font-size: 2.5rem;

}
.bi-bell-slash {
  color: $secondaryColor;
  cursor: pointer;
}
.bi-bell {
  color: $redColor;
  cursor: pointer;
  }
.bi-search {
  font-size: 2.5rem;
  color: $primaryColor;
  font-weight: 600;
  margin-left: 16px;
  cursor: pointer;
}



@keyframes titleBarAnimation {
  from {
    width: 0;
  }
  to {
    width: 12%;
  }
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}