@import 'src/assets/scss/template.scss';
.tickets-list-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2%;
}
.tickets-list {
  padding-top: 1%;
  padding-right: 2%;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.5);
  background-color: $primaryColor;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
  overflow: auto;
  @include mobile {height: 76vh}
  @include qhd {height: 86vh}
}
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .mat-checkbox {
    color: white;
  }
}

.checkbox-c {
  color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-right: 20%;
  gap: 20%;
}
.statut {
  white-space: nowrap;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.ticketss {
  height: 70vh;
  overflow: auto;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
.select {
  width: 230px;
  margin-left: 2%;

}
.icone-select {
  font-size: 17px;
  font-weight: 900;
  color: rgb(0, 115, 222);
}
.new-ticket {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  span {
    font-size: 2rem;
    margin-left: 6px;
    color: $secondaryColor;
  }
  
}


