<app-sidebar-menu [menuItems]="menuItems" [menuTitle]="menuTitle" [menuIcon]="menuIcon"
  (page)="onPageChange($event)"></app-sidebar-menu>

<header class="widget details" *ngIf="user">

  <div class="details-profil">
    <div class="title-user">
      <app-avatar [user]="user" class="context-ticket-card-creator"></app-avatar>
      <h1 class="firstname"> {{user.firstname}}<span class="lastname">{{user.lastname}}</span>
      </h1>
    </div>
  </div>

  <div class="contact-c" [ngClass]="{ 'not-info': page !== 'Info' }">
    <div class="widget-small-title"><i class="bi bi-person-vcard-fill"></i> Informations de contact</div>
    <div class="contact">
      <div><span class="prefix">Role:</span> {{user.role!.roleTitle}}</div>

      <div class="mail">
        <span class="prefix">Email:</span>
        <a href="mailto:{{user.email}}">{{user.email}}</a>
      </div>

      <div *ngIf="user.phone" class="phone">
        <span class="prefix">Téléphone:</span>
        <a href="tel:{{user.phone}}">{{user.phone}}</a>
      </div>
      <hr *ngIf="page !== 'Info' && this.user.role!.roleTitle === 'Client'" class="hr" />
    </div>
  </div>

  @if ((user.address && page === 'Info') || (user.address && showMore)) {
  <div class="localisation-c" [@expandCollapse]="(page === 'Info' || showMore) ? 'expanded' : 'collapsed'">
    <div class="widget-small-title"><i class="bi bi-geo-alt-fill"></i>Localisation</div>
    <div class="localisation">
      <div class="country"><span class="prefix">Pays:</span>{{user.address.country}}</div>
      <div class="city"><span class="prefix">Ville:</span>{{user.address.city}}</div>
      <div class="postal-code"><span class="prefix">Code postal:</span>{{user.address.postcode}}</div>
      <span class="prefix">Adresse:</span>
      <div class="address">{{user.address.street_l1}}</div>
      <div class="address">{{user.address.street_l2}}</div>
    </div>
  </div>
  }
  @if (page !== 'Info' && this.user.role!.roleTitle === 'Client') {
    <hr class="hr" />
    <a class="show-more" (click)="onShowMore()">{{showMore ? 'Voir moins' : 'Voir le détail'}}</a>
    }
</header>


@if (page === 'Tickets') {
  <div class="widget user-tickets" [@opacity]="page==='Tickets'?'active':''">
    <div class="widget-title"><i class="bi bi-bookmarks-fill"></i>Tickets <span>de l'utilisateur</span></div>
    @for (ticket of userTickets; track ticket) {
    <app-ticket-card [ticket]="ticket"></app-ticket-card>
    }
  </div>
}

@if (page ==='Historical-User' && userConnected.role.roleTitle !== 'Client') {
  <div class="widget" [@opacity]="page==='Historical-User'?'active':''">
    <app-user-historical [user]="user"></app-user-historical>
  </div>
}

@if (page ==='Actions') {
<div class="widget" [@opacity]="page==='Actions'?'active':''">
  <div class="widget-title"><i class="bi bi-gear-fill"></i> Actions <span>sur le ticket</span></div>

  <div class="buttons-actions">
    <button mat-raised-button color="primary" class="btn" (click)="sendMail()"><i
        class="bi bi-envelope-arrow-up-fill"></i> Envoyer un
      mail</button>


<!--  ne pas utiliser pour le moment !
    <button mat-raised-button color="warn" class="btn" (click)="deleteUser(this.user.id)"><i
        class=" bi bi-archive-fill"></i>
      Supprimer</button> -->
    
  </div>

</div>

}