@import 'src/assets/scss/template.scss';

.sidenav-c {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
}

.hide {
  display: none;
}

.sidenav {
  width: 55%;
  z-index: 100;

  @include qhd {
    width: 45%;
  }
  @include laptop {
    width: 60%;
  }
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 70%;
  }

  box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.bi-x-circle {
  font-size: 28px;
  justify-content: flex-end;
  display: none;
  color: $primaryColor;
  @include mobile { display: flex;}
}
.bi-x-circle:hover {
  cursor: pointer;
  color: $secondaryColor;
  transition: 0.2s;
}
.content {}

