<mat-sidenav-container class="sidenav-c">

  <mat-sidenav-content class="btn-c">
    <div [ngClass]="{'open': opened}" (click)="sidenav.toggle()">
      <div class="burger" [class.active]="isBurgerActive" (click)="toggleBurger()">
        <span></span>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
              (closed)="events.push('close!')" class="sidenav" position="end">
    <h1 class="">Dernières activitées (TO DO)</h1>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
