<!-- navbar desktop-->

<nav class="navbar">
  <div class="logo">
    <img routerLink="/ " src="{{ logo }}" alt="Logo">
  </div>
  <ul class="links">

    <li class="ticket" routerLink="/tickets/list">
      <a class="bi bi-bookmarks-fill"></a>
    </li>

    <li *ngIf="userRole === 'Client'" class="ticket" (click)="toggleSidebarNewTicket()">
      <a class="bi bi-bookmark-plus-fill"></a>
    </li>

    <li>
      <a class="bi bi-people" routerLink="users/list"></a>
    </li>

    <li *ngIf="userRole !== 'Client'">
      <a class="bi bi-speedometer" routerLink="dashboard"></a>
    </li>

    <li *ngIf="userRole !== 'Client'" class="menulink">
      <a class="bi bi-activity" (click)=" toggleSidebarActivity()"></a>
    </li>

  </ul>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleSidebarUserProfil()">Voir son profil</button>
    <button mat-menu-item (click)="logout()">Se déconnecter</button>
  </mat-menu>

  <div class="avatar" [matMenuTriggerFor]="menu">
    <img src="{{ avatar }}" class="avatar" />

  </div>
  <app-avatar [user]="user" ></app-avatar>
  <p class="corporation">Alayde INC ©</p>
</nav>