<section class="login">


  <div class="card">
    <h1 class="connexion">Connexion</h1>

    <form class="card-body" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
          <mat-label for="email">Email</mat-label>
          <input matInput type="email" class="form-control" id="email" formControlName="email">
          <mat-icon matSuffix class="bi bi-envelope-at-fill"></mat-icon>
          <ng-container
            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">L'email est invalide.</mat-error>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" color="primary">
          <mat-label for="password">Mot de passe</mat-label>
          <input matInput type="password" id="password" formControlName="password">
          <mat-icon matSuffix class="bi bi-key-fill"></mat-icon>
          <ng-container
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <mat-error
              *ngIf="loginForm.get('password')?.errors?.['minlength'] || loginForm.get('password')?.errors?.['pattern']">Le
              mot de passe doit faire au moins 6 caractères une majuscule, une minuscule et un caractère
              spécial.</mat-error>
          </ng-container>
        </mat-form-field>
      </div>
      
      <button type="submit" class="btn" mat-raised-button color="primary"
        [ngClass]="!loginForm.valid ? 'disabled' : ''">Se connecter</button>

    </form>

    <div class="card-footer">
        Pas encore inscrit ?<a (click)="switchToRegister()">Cliquez ici !</a>
    </div>

  </div>

</section>

