.dashboard {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  margin: auto;
  width: 500px;
  height: 500px;
  background-image: url('../../../../../assets/images/work-in-progress.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 999;
}