@import "src/assets/scss/template.scss";

article {
  padding-top: 8vh;
  padding: 8vh 0 2% 2%;
}

header {
  h1,h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: $primaryColor;
  }

  .ticket-number,
  .ticket-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  span {
    font-size: 22px;
    font-weight: 500;
    color: $secondaryColor;
    margin-left: 8px;
  }

  .over-0 {
    color: orangered;
    font-weight: 500;
  }
}

.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 10vh;

  h3 {
    font-size: 22px;
    font-weight: 500;
    color: $primaryColor;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  width: fit-content;
}
