@import 'src/assets/scss/template.scss';

.dashboard {

}
.chart-wrapper {
  margin-top: 10vh;
 display: flex;
 height: 100%;
 justify-content: center;
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  width: 100%;
}
h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  color: $secondaryColor;
}
.priorityChart {
  z-index: 9999;
  height: 400px;
  width: 400px;
}
.canvas {

  
  
}