@import 'src/assets/scss/template.scss';

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
 p {
  text-align: center;
  font-size: 1.4em;
  color: white;
 }
}
img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
i {
  position: absolute;
  top: -6px;
  right: -10px;
  font-size: 16px;
  color: white;
  background-color: $primaryColor;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.warning {
  color: $secondaryColor!important;
}
:host-context(.context-ticket-card-creator) {
  .avatar {
  width: 80px;
  height: 80px;
  p {
    font-size: 2.4em;
   }
   img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
}

:host-context(.from-navbar) {
  .avatar {
  width: 72px;
  height: 72px;
  cursor: pointer;
  p {
    font-size: 1.8em;
   }
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
}
