<section class="login container row justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
<div class="card">
  <div class="card-header d-flex justify-content-center">
  <p class="connexion">Connexion</p>
</div>
  <form class="card-body" [formGroup]="loginForm" (ngSubmit)="login()" novalidate >
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <ng-container *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <div class="text-danger"*ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis.</div>
        <div class="text-danger"*ngIf="loginForm.get('email')?.errors?.['email']">L'email doit être valide.</div>
      </ng-container>
    </div>

    <div class="form-group mt-2 mb-5">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <ng-container *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <div class="text-danger"*ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
        <div class="text-danger"*ngIf="loginForm.get('password')?.errors?.['minlength']">Le mot de passe doit faire au moins 6 caractères.</div>
        <div class="text-danger" *ngIf="loginForm.get('password')?.errors?.['pattern']">Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un caractère spécial.</div>
      </ng-container>
    </div>
    <button type="submit" class="btn btn-primary d-flex justify-content-center"[disabled]="!loginForm.valid">Se connecter</button>

  </form>
  
  <div class="card-footer">
  <p class="text-center">
    Pas encore inscrit ?<a (click)="switchToRegister()">Cliquez ici !</a>
    <span class="ml-10"> ou </span><a class='deconnexion'(click)="logout()">Se déconnecter</a>
  </p>
</div>
</div>
</div>
</div>
</section>

