<!-- PARTIE DEV ET MANAGER -->
<section class="tickets-list-c" *ngIf="role !== 'CLIENT'">
  <app-search-bar></app-search-bar>

  <div class="tickets-list">
    <header>
      <mat-form-field class="select">
        <mat-label>Trier par</mat-label>
        <mat-select (selectionChange)="onSortChange($event)">
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="checkbox-c">
        <div class="statut">Statut:
          <mat-checkbox class="checkbox" [(ngModel)]="filters.status.to_do" (change)="onCheckboxChange('status', 'to_do')">à faire</mat-checkbox>
          <mat-checkbox class="checkbox" [(ngModel)]="filters.status.doing" (change)="onCheckboxChange('status', 'doing')">en cours</mat-checkbox>
          <mat-checkbox class="checkbox" [(ngModel)]="filters.status.done" (change)="onCheckboxChange('status', 'done')">terminé</mat-checkbox>
        </div>
        
        <div class="statut">Priorité:
          <mat-checkbox class="checkbox" [(ngModel)]="filters.priority.low" (change)="onCheckboxChange('priority', 'low')">faible</mat-checkbox>
          <mat-checkbox class="checkbox" [(ngModel)]="filters.priority.medium" (change)="onCheckboxChange('priority', 'medium')">moyenne</mat-checkbox>
          <mat-checkbox class="checkbox" [(ngModel)]="filters.priority.high" (change)="onCheckboxChange('priority', 'high')">élevée</mat-checkbox>
        </div>
        
        
      </div>
    </header>

      <div *ngFor="let ticket of tickets">
        <app-ticket-card class="context-ticket-list" [ticket]="ticket"></app-ticket-card>
      </div>
   
  <!-- <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
    <div *ngFor="let ticket of tickets">
      <app-ticket-card class="context-ticket-list" [ticket]="ticket"></app-ticket-card>
    </div>
  </cdk-virtual-scroll-viewport> -->

</div>

</section>


<!-- PARTIE CLIENT -->
<section class="tickets-list-c" *ngIf="role === 'CLIENT'">
  <header>
    <a class="new-ticket">Créer un nouveau ticket<span class="bi bi-plus-circle-fill"></span></a>
  </header>
</section>