<div class="container-fluid">
    <h2 class="text-center">Ticket List</h2>
    <button routerLink="/tickets/create" class="btn btn-success p-2 m-2">Create New Ticket</button>

    <div *ngFor="let ticket of tickets" class="card p-2 m-2">
        <div class="container card d-flex m-3 border border-3 rounded-4 border-secondary">
            <div class="row">
                <div class="col-sm-2 d-flex justify-content-center align-center p-2 ">
                    <img class="rounded-circle shadow-4-strong m-2 " alt="avatar2" src="./../../../../../assets/images/avatar.png" width="30px" />
                </div>
                <div class="col-sm-4 d-flex flex-column justify-content-evenly align-start p-2  ">
                    <div class="m-2">Ticket N°: {{ticket.id}}</div>
                    <div class="m-2">Nom Ticket: {{ticket.title}}</div>
                    <div class="m-2">Crée par : Mister X</div>
                </div>
                <div class="col-sm-4 d-flex flex-column justify-content-evenly align-start p-2  ">
                    <div class="m-2">Date : 14/07/2023</div>
                    <div class="m-2">Priorité: <span class="badge text-bg-warning p-2 m-2">Urgent</span></div>
                    <div class="m-2">Dev : Mister Dupond</div>
                </div>
                <div class="col-sm-2 d-flex flex-column justify-content-evenly align-start p-2  ">
                    <button routerLink="/tickets/edit/{{ticket.id}}" class="btn btn-info p-2 m-2">Edit</button>
                    <button  (click)="openDeleteModal(ticket.id)" class="btn btn-danger p-2 m-2">Delete</button>
                </div>
            </div>
        </div>

        <!-- delete modal -->
<div id="deleteModal{{ticket.id}}" class="modal d-none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete confirmation N° Ticket: {{ticket.id}}</h5>
          <button (click)="closeDeleteModal(ticket.id)" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete ?</p>
        </div>
        <div class="modal-footer">
          <button (click)="closeDeleteModal(ticket.id)" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="deleteTicket(ticket.id)" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
        <!-- end delete modal -->
    </div>    
</div>