@import 'src/assets/scss/template.scss';

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  

}
.test {
  width: 100%;
  font-size: 18px;
  @include mobile {
    font-size: 12px;
  
  } 

}
.search-bar input {
 
}

mat-icon {
  cursor: pointer;
  color: $secondaryColor;
  font-size: 28px;
  margin-top: -6px;
  margin-left: 10px;
}
