@import 'src/assets/scss/template.scss';

.side {
  margin-top: -10px;
  width: 56px;
  position: absolute;
  left: 0;
  height: 100%;
  padding-top: 6vh;
  background-color: $secondaryColor;
}

.formulaire {
    width: 90%;
    margin: 0 auto;
    margin-top: 130px;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: $thirdColor;
}

.ticketAddTitle {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: 600;
      color: $primaryColor;
      letter-spacing: 1px;
      text-transform: uppercase;
}

.formulaire h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



.buttons-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
