
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/ OU https://www.materialpalette.com/colors
$angular-frontend-ticketing-primary: mat.define-palette(mat.$blue-palette, 900);
$angular-frontend-ticketing-accent: mat.define-palette(mat.$amber-palette, A200);

// The warn palette is optional (defaults to red).
$angular-frontend-ticketing-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-frontend-ticketing-theme: mat.define-light-theme((
  color: (
    primary: $angular-frontend-ticketing-primary,
    accent: $angular-frontend-ticketing-accent,
    warn: $angular-frontend-ticketing-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-frontend-ticketing-theme);

/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/scss/bootstrap";
//https://icons.getbootstrap.com

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import './template.scss';

// reset css
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

* {box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

// overlay sidebar //
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter:blur(2px);
}

.btn
{
  font-size: 16px;
  @include tablet {font-size: 15px}
  @include mobile {font-size: 14px}
}
// SCROLLBAR //
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $thirdColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondaryColor;
}
// mat-form-field //


.mat-mdc-form-field-flex  {
  background-color: white;
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper  {
  background-color: white;
}  
.mat-mdc-form-field-infix {
  // background-color: white;
}
.mdc-text-field--outlined {
  background-color: white;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}
mat-icon {   

}
mat-form-field {
  width: 100%;


}

mat-label {

}
mat-error {
  font-size: 11px;
}

.mat-focused mat-label
{
  font-style: italic;
}
.disabled {
  background-color: #dddddd!important;
  color: black!important;
  pointer-events: none;
  opacity: 0.5;
}
mat-icon {
  padding-right: 10px;
  font-size: 20px;
}
/* Remove color of autofiull by the navigators*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}




