// variables utilitaires scss, couleurs, responsive etc //

// COLORS //
$primaryColor: #014462;
$secondaryColor: #F4B545;
$thirdColor: #EBEEF7;
$blackColor: #242425;
$redColor: #EF4C4E;


// RESPONSIVE //

