// variables utilitaires scss, couleurs, responsive etc //

// COLORS //
$primaryColor: #004463;
$secondaryColor: #F5B445;
$thirdColor: #EBEEF7;
$blackColor: #252525;
$redColor: #EF4C4E;


// RESPONSIVE //

